<div class="headlabel" align="center">
<h1>New Cluster Configuration</h1>
<form action="/clusters/create" method="post">
	<table class="mainTable" >
		<tr><td>
			<table class="tableList" id="noTrHover">
				<tr id="firstRow">
					<td><div align="left"><%= link_to 'Back', clusters_path %></div></td>
				</tr>
				<tr><td>
					<table class="tableDetail">
						<input id="counttemp" name="counttemp" type="text" style="width:150px;display:none;" value="1"></input>
						<input id="lockcounttemp" name="lockcounttemp" type="text" style="width:150px;display:none;" value="1"></input>
					  	<tr>
					  	  <td>
					  	    <label>Name:</label>
						  </td>
					      <td>
					        <input name="name" type="text" style="width:150px;"/>
					      </td>
						  <td></td><td></td><td></td>
						</tr>
						
						<tr>
					  	  <td>
					  	    <label>Description:</label>
						  </td>
					      <td>
					        <input name="description" type="text" style="width:150px;"></input>
					      </td>
						  <td></td><td></td><td></td>
						</tr>
						
						<tbody id="lock">
					  	<tr>
					  	  <td>
					  	    <label>Lock Name:</label>
						  </td>
					      <td>
					        <input name="lock1" type="text" style="width:150px;"></input>
					      </td>
						  <td></td><td></td><td></td>
						</tr>
						</tbody>
						<tr>
						  <td></td><td></td><td></td><td></td>
						  <td><input type="button" onclick="addlockRow()" value="add lock"></input></td>
						</tr>
						
						<tbody id="con">
					  	<tr>
					  	  <td>
					  	    <label>Configurations:</label>
						  </td>
					      <td>
					        <select name="configurations1" style="width:150px;">
							  <option value=""></option> 
					          <% for configuration in @configurations %>
					            <option value= <%=h configuration.id %>><%=h (configuration.id.to_s + '-' + configuration.name.gsub("\'", "")) %></option> 
							  <% end %>
						    </select>
					      </td>
						  <td>
					  	    <label>Role:</label>
						  </td>
						  <td>
					        <input name="role1" type="text" style="width:150px;"></input>
					      </td>
						  <td></td>
						</tr>
						</tbody>
						<tr>
						  <td></td><td></td><td></td><td></td>
						  <td><input type="button" onclick="addRow()" value="add configuration"></input></td>
						</tr>
						
						<tr>
					  	  <td colspan="5">
					  	  	<input type="submit" value="create"/>
						  </td>
						</tr>
					</table>
				</td></tr>
			</table>
		</td></tr>
	</table>
</form>
</div>


<script type="text/javascript">
    var con = document.getElementById("con");
	var lock = document.getElementById("lock");
	var counttemp = document.getElementById("counttemp");
	var lockcounttemp = document.getElementById("lockcounttemp");
	var count = 1
	var lockcount = 1
    function addRow(){
		count = count + 1;
		counttemp.value = count;
        var tr = document.createElement("tr");
		tr.id = "tr" + count;
        var tdlabel= document.createElement("td");
		var tdlabelrole= document.createElement("td");
		var tdselect = document.createElement("td");
		var tdtext = document.createElement("td");
		var tdbutton = document.createElement("td");
		//var text = document.createElement("input");
		tdlabel.appendChild(document.createTextNode("Configurations:"));
		tdlabelrole.appendChild(document.createTextNode("Role:"));
		tdselect.innerHTML = '<select name="configurations' + count +'" style="width:150px;"><option value=""></option> <% for configuration in @configurations %><option value= <%=h configuration.id %>><%=h (configuration.id.to_s + "-" + configuration.name.gsub("\'", "")) %></option> <% end %></select>';
		tdtext.innerHTML = '<input name="role' + count +'" type="text" style="width:150px;"></input>';
		tdbutton.innerHTML = "<input type='button' value='Delete' onclick='deleteRow("+'"'+tr.id+'"'+',"con"'+")'>";
        
        tr.appendChild(tdlabel);
		tr.appendChild(tdselect);
		tr.appendChild(tdlabelrole);
		tr.appendChild(tdtext);
		tr.appendChild(tdbutton);
        con.appendChild(tr);
    }
	
	function addlockRow(){
		lockcount = lockcount + 1;
		lockcounttemp.value = lockcount;
        var tr = document.createElement("tr");
		tr.id = "locktr" + lockcount;
		var tdlabellock= document.createElement("td");
		var tdtext = document.createElement("td");
		var tdbutton = document.createElement("td");
		tdlabellock.appendChild(document.createTextNode("Lock Name:"));
		tdtext.innerHTML = '<input name="lock' + lockcount +'" type="text" style="width:150px;"></input>';
		tdbutton.innerHTML = "<input type='button' value='Delete' onclick='deleteRow("+'"'+tr.id+'"'+',"lock"'+")'>";
        
		tr.appendChild(tdlabellock);
		tr.appendChild(tdtext);
		tr.appendChild(tdbutton);
        lock.appendChild(tr);
    }
	
	function deleteRow(btn,deletebutton){
        var tr = document.getElementById(btn);
		var d = document.getElementById(deletebutton);
		d.removeChild(tr);
    } 
</script>
