<h2 class="bodyTitle">Listing Base Templates</h2>
<table class="tableList">
  <tr>
    <th>Name</th>
    <th>AMI</th>
    <th>User</th>
    <th>Password</th>
	<th><div>Archit-</div><div>ecture</div></th>
    <th>os</th>
	<th>Region</th>
    <th>Team</th>
	<th><div>Image</div><div>size</div></th>
	<th>Creator</th>
    <th id="kong">&nbsp;</th>
  </tr>
	<% @templates.each_with_index do |template,index|%>
	<% if index % 2 == 1 %>
	<tr>
	<% else %>
 	<tr class="row_1">
 	<% end %>
    <td><div title="<%=template.name%>" id="AutoNewLine" style="width:150px;"><%=link_if can_access('show','templates'), (h template.name), template%></div></td>
    <td><%=h template.ec2_ami %></td>
    <td><%=h template.user %></td>
    <td><%=h template.password %></td>
	<td><%=h template.architecture %></td>
	<td><%=h template.platform %></td>
	<td><%=h template.region %></td>
	<td><%=if template.team_id
               h template.team.name
           else 
               "Unknown"
           end %>
    </td>
	<td><%=h template.image_size %></td>
	<td><%=h template.creator.name unless template.creator.nil?%></td>
	<td class="imageConfig"><div id="AutoNewLine" style="width:120px;">
	<% if template.state == "available" %>
    <%= link_if can_access('new','jobs'), '<img src="/images/application_form_add.png" title="Create New Job">', new_job_path(:template_ids=>template) %>
	<% end %>
	<%= link_if can_access('show','templates'), '<img src="/images/application_form_magnify.png" title="Show">', template%>
    <%= link_if can_access('edit','templates'), '<img src="/images/application_form_edit.png" title="Edit">', edit_template_path(template)%>
    <%= link_if can_access('destroy','templates'), '<img src="/images/application_form_delete.png" title="Delete">', template, :confirm => 'Are you sure?', :method => :delete %></div></td>
  </tr>
  <% end %>
</table>
</tr>
<tr>
<td class="lastTd">			
	<div align="right"><%=will_paginate(@templates ,:prev_label=>'Previous',:next_label=>'Next',:separator=>" | ") %></div>
</td>
</tr>

