<div class="headlabel" align="center">
	<h1>New template mapping</h1>
	
<% form_for(@template_mapping) do |f| %>	
<table class="mainTable" id="widthControl1">
	<tr><td><%= f.error_messages %></td></tr>
	<tr><td>
		<table class="tableList" id="noTrHover">
			<tr id="firstRow">
				<td><%= link_to 'Back', template_mappings_path %></td>
			</tr>
			<tr><td>
				<table class="tableDetail">
					<tr>
						<td><%= f.label :name %></td>
						<td id="secondTd"><%= f.text_field :name %></td>
					</tr>
					<tr>
						<td><%= f.label :template%></td>
						<td id="secondTd"><%= f.select :template_id, @templates.collect{|template| [template.id.to_s + "--" + template.name, template.id]},{:include_blank => false},:class=>"input_search"%></td>
					</tr>
					<tr>
						<td><%= f.label :usage%></td>
						<td id="secondTd"><%= f.select :usage, @template_usages,{:include_blank => false},:class=>"input_search"%></td>
					</tr>
				</table>
			</td></tr>
			<tr><td align="right"><%= f.submit "Create" %></td></tr>
		</table>
	</td></tr>
</table>
<% end %>

</div>