<div class="headlabel" align="center">
	<h1>Update Machine password</h1>
	
<table class="mainTable" id="widthControl2">
	<tr><td>
		<table class="tableList" id="noTrHover">
			<tr id="firstRow"><td><div align="left"><%= link_to 'Back', job_path %></div></td>
		    	<td><div align="center"><%= error_messages_for :job %></div></td>
			</tr>
			<tr><td colspan="2">
				<table class="tableDetail">
				<% form_for(@job) do |f| %>
					<tr>
				      <td>Job Name</td>
				      <td id="secondTd"><%= @job.name%></td>
				    </tr>
					<tr>
			          <td class="firstTd">Ec2machine User</td>
			          <td id="secondTd"><%=h @job.template.user %></td>
			        </tr>
					<tr>
				      <td><label for="job_machinepassword">Ec2machine password</label></td>
				      <td id="secondTd"><%= f.text_field :machinepassword %>
				         <a href="javascript:getpassword();">Generate a password</a>
					  </td>
				    </tr>
					<tr>
				      <td>Notes:</td>
				      <td id="secondTd">You should update the password inside the vm first, then update the password here correctly. The operation on this page will only change the password shows on VDI page, it will not really change the password in the machine.<br>
					      The password should longer than 8 bits and combined at least 2 type of following chars lower/upper/other chars. <br>
						  		Please change the passwords by following steps:
		<ul>
			<li>1. RDP to the vm which have bad password</li>
			<li>2. Right click "My Computer"</li>
			<li>3. Click "Manage" to open the manage board</li>
			<li>4. Click "Local Users and groups" -> "Users"</li>
			<li>5. Review all accounts, disable the useless accounts</li>
			<li>6. Right click account "Administratr", then clock "set password"</li>
			<li>7. Update it to a strong enough password. The password should be more than 8 bits, you can get a auto generate password from the "update password" page in VDI(Suggested)</li>
			<li>8. Open the job show link like http://vdi.gdev.com/jobs/141662</li>
			<li>9. Click "update password" link, to update it to the new password you set</li>
		</ul>	
	 Following password are unsecure passwords: "QEL9MoMS", "vmlogix", "alterpointer","Changeme!"
					  </td>
				    </tr>				   
				</table>
			</td></tr>
			<tr><td colspan="2" align="right">
			   <div id="submit_link" onclick="javascript:submit();" onmouseover="javascript:handCursor(this);">
			     <img src="/images/submit_button.png">	   
               </div>
			</td></tr>
			 <% end %>
		</table>
	</td></tr>
</table>

</div>

<script type="text/javascript">
	function submit(){
		password = document.getElementById("job_machinepassword").value
		result = checkstrong(password)
        if (result == true) {
			form_id = "edit_job_" + <%=@job.id %>
			document.getElementById(form_id).submit();
		} else {
			alert("Your new password is not stong enough, please reset a stronger one");
		}
	}
	function getpassword() {
		document.getElementById("job_machinepassword").value = generatePassword();
	}	
	alert("Please update the password inside the vm first, then update in the page. Otherwise the password will not be really updated")
</script>