<h2 class="bodyTitle">Listing securities</h2>
<table class="mainTable">
	<tr><td>
		<table class="tableList">
		  <tr>
		    <th>Name</th>
		    <th>Protocol</th>
		    <th>Port From </th>
		    <th>Port To </th>	
		    <th>Source</th>
			<th id="kong">&nbsp;</th>
		    <th id="kong">&nbsp;</th>
		  </tr>
		<% count = 0 %>
		<% for security in @securities %>
		<% if count % 2 == 0 %>
			<tr class="row_0">
		<% else %>
			<tr class="row_1">
		<% end %>
		  
		    <td><%=h security.name %></td>
		    <td><%=h security.protocol %></td>
		    <td><%=h security.port_from %></td>
		    <td><%=h security.port_to %></td>	
		    <td><%=h security.source %></td>
		    <td class="imageConfig"><%= link_if can_access('edit','securities'), '<img src="/images/application_form_edit.png" title="Edit">', edit_security_path(security) %></td>
		    <td class="imageConfig"><%= link_if can_access('destroy','securities'), '<img src="/images/application_form_delete.png" title="Delete">', security, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% count = count + 1 %>
		<% end %>
		</table>
	</td></tr>
	<tr>
		<td class="lastTd">
			<div align="left"><img src="/images/new.png">&nbsp;<%= link_if can_access('new','securities'), 'New security', new_security_path %></div>
		</td>
	</tr>
</table>

