<div class="headlabel" align="center">
<h1>Attach EBS Volume</h1>

<%= error_messages_for :ebsvolume %>

<% form_tag('/ebsvolumes/attach') do%>
<input id="id" name="id" type="hidden" value="<%= @ebsvolume.id  %>" />

<table class="mainTable" id="widthControl1">
  	<tr><td>
		<table class="tableList" id="noTrHover">
			<tr id="firstRow">
				<td><div align="left"><%= link_to 'Back', ebsvolumes_path %></div></td>
				<td><div align="right"><%= link_to 'Show', @ebsvolume %></div></td>
			</tr>
			<tr><td colspan="2">
				<table class="tableDetail">
					  <tr>
					  	<td><b>Name</b></td>
					  	<td id="secondTd"><%=@ebsvolume.name%></td>  		
					  </tr>
					  <tr>
					  	<td><b>Volume ID</b></td>
					  	<td id="secondTd"><%=@ebsvolume.volume_id%></td>  		
					  </tr>    	
					  <tr>
					  	<td><b>Job ID</b></td>  
						<td id="secondTd"><%= text_field_tag :job_id, params[:job_id]%>
						&nbsp;<img src="/images/question-small-white.png" align="top" height="25px" title="Please input the VDI job id you want to attach the EBS"></td> 
					  </tr>
					  <tr>
					  	<td><b>Attach Device</b></td>
						<td id="secondTd"><%= text_field_tag :attach_device, params[:attach_device]%>
						&nbsp;<img src="/images/question-small-white.png" align="top" height="25px" title="Please input the device you to attach, for Windows: vxdf to vxdp, like vxdf for disk D, Linux: /dev/sdf to /dev/sdp like /dev/sdf"></td> 
					  </tr>  
				</table>
			</td></tr>
			<tr><td align="right" colspan="2">
				 <%= submit_tag "Attach", :name => 'submit' %>
			</td></tr>
		</table>
	</td></tr>
  </table>

<% end %>

</div>